/InfoClass.class
/InstanceVariableClass.class
/InstanceVariableDemo.class
/LocalVariableClass.class
/LocalVariableDemo.class
/StaticVariableClass.class
/StaticVariableDemo.class
/StaticVariableDemo1.class
