/ArrayListDemo.class
/CollectionDemo.class
/DequeDemo.class
/HashSetDemo.class
/LinkedHashSetDemo.class
/LinkedListDemo.class
/MapDemo.class
/PriorityQueueDemo.class
/SetDemo.class
/StackDemo.class
/TreeSetDemo.class
/VectorDemo.class
